.whole{
  width: 1618;
    height: 856;
    transform: rotate(0deg);
    opacity: 1;
    top: 3345px;
    left: 143px;
}
.what{
  width: 869;
    height: 234;
    transform: rotate(0deg);
    opacity: 1;
    top: 3345px;
    left: 143px;
    font-family: Gerbil;
      font-weight: 400;
      font-style: Regular;
      font-size: 100px;
      line-height: 116px;
      letter-spacing: 0%;
}

.snake{
  width: 1439.8696113009998;
    height: 697.5963049470697;
    transform: rotate(-3.88deg);
    opacity: 1;
    top: 2840px;
    left: 1069px;
    border-radius: 3px;
    border-width: 5px;
    border: 5px solid #FF6D6D;
    box-shadow: 0px 16px 12px 0px #00000040;
}

.office{
  width: 1600;
    height: 180;
    transform: rotate(0deg);
    opacity: 1;
    top: 3661px;
    left: 161px;
}
.off{
  width: 226;
    height: 84;
    transform: rotate(0deg);
    opacity: 1;
    top: 3709px;
    left: 161px;
    font-family: Satoshi;
      font-weight: 400;
      font-style: Regular;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 0%;
}
.collab{
  width: 923;
    height: 116;
    transform: rotate(0deg);
    opacity: 1;
    top: 3693px;
    left: 617px;
    font-family: Gerbil;
      font-weight: 400;
      font-style: Regular;
      font-size: 56px;
      line-height: 116px;
      letter-spacing: 0%;
}
.err{
  width: 81.00000000000048;
    height: 0px;
  transform: rotate(-0deg);
    opacity: 1;
    top: 3751px;
    left: 1680px;
    border-width: 2px;
    border: 2px solid #000000
}
.line{
  width: 1600;
    height: 0px;
    transform: rotate(0deg);
    opacity: 1;
    top: 3661px;
    left: 161px;
    border-width: 1px;
    border: 1px solid #B1B1B1
}
.thehanger{
  width: 1600;
    height: 148;
transform: rotate(0deg);
    opacity: 1;
    top: 3873px;
    left: 161px;
}
.the{
  width: 316;
    height: 84;
    transform: rotate(0deg);
    opacity: 1;
    top: 3889px;
    left: 161px;
    font-family: Satoshi;
      font-weight: 400;
      font-style: Regular;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 0%;
}
.we{
  width: 882;
    height: 116;
    transform: rotate(0deg);
    opacity: 1;
    top: 3873px;
    left: 617px;
    font-family: Gerbil;
      font-weight: 400;
      font-style: Regular;
      font-size: 56px;
      line-height: 116px;
      letter-spacing: 0%;
}
.delta{
  width: 1600;
    height: 170;
    transform: rotate(0deg);
    opacity: 1;
    top: 4031px;
    left: 161px;
}
.del{
  width: 273;
    height: 84;
    transform: rotate(0deg);
    opacity: 1;
    top: 4069px;
    left: 161px;
    font-family: Satoshi;
      font-weight: 400;
      font-style: Regular;
      font-size: 30px;
      line-height: 42px;
      letter-spacing: 0%;
}
.pilot{
  width: 878;
    height: 116;
    transform: rotate(0deg);
    opacity: 1;
    top: 4053px;
    left: 617px;
    font-family: Gerbil;
      font-weight: 400;
      font-style: Regular;
      font-size: 56px;
      line-height: 116px;
      letter-spacing: 0%;
}